.app {
    width: 100%;
    min-width: 650px;
    background-color: rgb(238, 220, 234);
    height: 98vh;
    display: flex;
    flex-direction: column;
}



/* .componentTwoWrapper {
    margin-top: 50px;
    background-color: lightcyan;
    color: black;
    padding: 10px;
} */

